* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DFA38C;
}

#container {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

#hat {
    width: 20rem;
    display: none;
}

#header {
    padding: 2rem;
}

#but_int {
    padding: 2rem;
}

#c_button {
    background-color: blue;
    color: white;
    border-radius: 0.1rem;
    height: 1.5rem;
}

#number {
    border: none;
    border-radius: 0.2rem;
    height: 1.5rem;
}